@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    body{
        font-family: 'Inter', sans-serif;
        color: #293264;
    }
    .spacer{
        aspect-ratio: 960/540;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .layer1{
        background-image:url("./blob-1.svg")
    }
}